<a href="https://colab.research.google.com/github/Harry75721/Coding/blob/main/Copy_of_Data_Types_3_T%26C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Strings

---
### Exercise 1 strings
**Recap**: to assign a string to a variable, give it a value in "  "

*variableName = "string to be stored in variable"*   

Write a function called **print_initials()** which will:

*  create a variable called **first_name** and assign it a value (see below)  
*  create a variable called **middle_name** and assign it a value (see below) 
*  create a variable called **surname** and assign it a value (see below) 
*  creat a variable called **full_name** joining the names together in the format: `surname`, `first_name` `middle_name`  

### Test  
If first_name is assigned the value `Peter`, `middle_name` is assigned the value `Barry` and `surname` is assigned the value `Burrows` then the output will be:    
  
Burrows, Peter Barry

In [11]:
def print_initials():
  first_name = "Peter"
  middle_name = "joe"
  surname = "cole"
  full_name = surname,first_name,middle_name
  print(full_name)
print_initials()

('cole', 'Peter', 'joe')

# Substrings

---

A String is a set of characters. Each String has a length and each character in the string has a position or index. Indexing starts at 0 so the first character of a String is at position 0. As Strings have varying lengths, the last character of the String is at position -1. To find any character in the String, count from 0 or, if you want to count backwards from the end, count back from -1.  

You can get a particular character, or a set of consecutive characters (substring) from a String using [] and the positions of the characters you want.  *This technique is particularly useful for searching and filtering*.

Example:  
To get the first letter of a String (in this case the String is called **category**)
**first_letter** = `category`[0]  
**second_letter** = `category`[1]  
**sixth_letter** = `category`[5]  

To get the last letter of `category`:  
**last_letter** = `category`[-1]  
**second_last_letter** = `category`[-2]  
**third_last_letter** = `category`[-3]  

Have a go

In [16]:
def print_letters():
   category = "Maintenance" 
   first_letter = category[0]
   second_letter = category[1]
   sixth_letter = category[5]
   last_letter = category[-1]
   second_last_letter = category[-1]
   third_last_letter = category[-3]
   print(last_letter)
print_letters()

e

To get a set of letters from a String, use the **slice** operator.  

*substring = stringname[ index of first letter to be included_ : index + 1 of last letter ]* 

Example:  

**first_three_letters** = `category`[0:3]  
**second_to_fifth_letters** = `category`[1:5]  
**last_three_letters** = `category`[-3:]  

*Note: we can't add 1 to -1 as the result would be 0 and confused with the first letter, so we omit the second number to indicate that we want all characters to the end of the string*

In [19]:
def print_substrings():
   category = "Maintenance" 
   first_three_letters = category[0:3]
   second_to_fifth_letters = category[1:5]
   last_three_letters = category[-3:]
   print(last_three_letters)
print_substrings()

nce

---
### Exercise 2 - substrings

Write a function called **print_substring()** which will:
 
Create a variable called **location** and assign it a string of at least 5 letters  
Print the **first** and the **fourth** letters in the `location`  

### Test  
If `name` is assigned the value "Peake House" the output should be:    
 
First letter is P, fourth letter is k

In [31]:
def print_substring():
  location = "yughj"
  first_letter = location[0]
  fourth_letter = location[3]
  print(first_letter)
  print(fourth_letter)
print_substring()

y
h

---
### Exercise 3  - Formatting String output  

Write a function called **print_formatted()** which will:  

*  ask the user to input a **building_number**
*  ask the user to input a **road_name**, then a **town**, then a **postcode**  
*  print the address on three lines (`building_number` with a comma and `road_name`, `town`, `postcode`)  

### Test  
If `building_number` is 10, `road_name` is "Old Road", `town` is `Chatham` and `postcode` is "ME4 1AA" the output should be:    
   
10, Old Road  
Chatham  
ME4 1AA

In [34]:
def print_formatted():
  building_number = 7
  road_name = "kent road"
  town = "maidstone"
  postcode = "ME4 1AA"
  print(building_number, ",", road_name)
  print(town)
  print(postcode)
print_formatted()

7 , kent road
maidstone
ME4 1AA

# String functions

## String length

You can get the length of a String using the len() function   
e.g. **namelength** = len(`name`)

---
### Exercise 4 - String length  

Write a function called **print_namelength()** which will:  

*  create a variable called **name** and assign it a string value  
*  assign the length of the name to a variable called **name_length**  
*  print the `name` followed by a comma, then `name_length`, then the word “characters”.

### Test  
If `name` has the value "William" the output should be:    
 
William, 7 characters

In [48]:
def print_namelength():
  name = "harry"
  name_length = len(name)
  print(name, name_length, "characters")
print_namelength()

harry 5 characters

## String Case Conversion  

When you start to compare and search for strings, you will need to be aware that data doesn’t always turn up in the state we would like it.  People often forget to use capital letters at the beginning of their names and will sometimes use all capitals.  It is useful, therefore, to be able to convert a String either to all capitals or all lowercase, depending on how you want to see it.  

There are three functions for this, which are linked to the String (here the String variable is called **name**).  

*   **upper_case_name** = `name.upper()`
*   **lower_case_name** = `name.lower()`
*   **capitalised_name** = `name.capitalize()`

---
### Exercise 5 - case conversion  

Write a function called **convert_to_capitals()** which will:  

*  Create a variable called **name** and assign it a string all in lowercase letters 
*  assign the capitalised String to the variable **capitalised_name** 
*  print the `name` in capitals  

### Test  
If `name` is "jaswinder" the output will be:    
  
JASWINDER

In [53]:
def convert_to_capitals():
  name = "harry" 
  upper_case_name = name.upper()
  print(upper_case_name)
convert_to_capitals()

HARRY

---
###Exercise 6 - case conversion  

Write a function called **capitalise_names()** which will:  

*  Create the variables **name** and **surname** and give each an appropriate value  
*  print both `name` and `surname` in lowercase with a capital letter at the start, even if they didn't have capitals when they were typed in  

### Test  
If `name` is "benJamIN" and `surname` is "rAbBit" the output will be:    
 
Benjamin Rabbit

In [88]:
def capitalise_names():
  name = "harry"
  surname = "cole"
  capitalised_name = name.capitalize()+" "+surname.capitalize()
  print(capitalised_name)
capitalise_names()

Harry Cole

---
### Exercise 7 - Substrings

Write a function called **print_postcode_letters()** which will:   

*  Create a variable called **postcode** and assign it the value of a correctly formatted postcode    
*  assign the first two letters of the postcode to a variable called **postcode_area**  
*  convert the `postcode_area` String to capital letters and assign this to a variable called **capitalised_area**  
*  print the `capitalised_area`  

### Test  
If `postcode` is "Me4 6bb" the output will be:    

ME

In [66]:
def print_postcode_letters():
  postcode = "Pe29 3ne"
  postcode_area = postcode[0]+postcode[1]
  upper_case_postcode_area = postcode_area.upper()
  capitalised_area = upper_case_postcode_area
  print(capitalised_area)
print_postcode_letters()

PE

---
### Exercise 8 - Floor division and slicing

Write a function called **print_half_word()** which will:
 
*  create a variable called **word** and assign a word  
*  assign the value of half the length of the `word` to a variable called **half_length**  
*  assign the first half of the `word` to a new variable called **half_word**  
*  print `half_word`  

*Hint:  when dividing the length of the word by 2, use floor division (//) so that you get a whole number of letters).  To get the first half of the word, use word[0:halfLength]*  

### Test  
If `word` has the value "Runtime" the output will be:    
 
Run

In [86]:
def print_half_word():
  word = "passion fruit"
  half_length = len(word)//2
  half_word = word[0:half_length]
  print(half_word)
print_half_word()

passio

---
### Exercise 9 - String repetition

Write a function called **repeat_two_letters()** which will:

*  create a variable called **word** and assign it a value  
*  assign the last two letters of the `word` to a variable called **last_two**  
*  assign a string made of 5 copies of the `last_two` (*Hint: `last_two`* * 5 *will do it)* to a variable called **five_copies**  
*  print `five_copies`

### Test  
if `word` is "Data" the output will be:  

tatatatata

In [74]:
def repeat_two_letters():
  word = "apple"
  last_two = word[3]+word[4]
  five_copies = last_two*5
  print(five_copies)
repeat_two_letters()

lelelelele

---
### Exercise 10 - converting String to lower case

Write a function called **lowerCase_threeLetters()** which will:  

*  assign the value “january” to a variable called **month**  
*  assign the first three characters of `month` to a variable called **month_short**   
*  capitalise `month_short` and store the result back in `month_short`
*  assign the rest of the characters to a variable called **month_rest**  
*  join `month_short` and `month_rest` together and store the result back into the variable `month`  
*  print `month`  

Expected output:  
JANuary

In [82]:
def lowerCase_threeLetters():
  month = "january"
  month_short = month[0:3]
  capitalised_month_short = month_short.upper()
  month_rest = month[3:7]
  month = capitalised_month_short+month_rest
  print(month)
lowerCase_threeLetters()

JANuary